.DS_Store
.vscode
__pycache__
*.pyc

venv/
.venv/
.ipynb_checkpoints/

# Datasets
data/*
!data/.gitkeep
!data/test_puzzles.txt

# SVM model exceeds 100MB, so we will ignore it
models/*.pkl 


# Latex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.brf